@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header id="section-heading-1">
    <h1>Find your next opportunity</h1>
    <p>Resume Vault stores all your resumes making them easily sharable across the web.</p>
    <button class="btn btn-primary">Get Started</button>
</header>

<section id="section-image-heading-1">
    <img />
</section>

<section id="section-heading-2">
    <h2></h2>
</section>